body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif !important;
}
.buttonUp {
  position: fixed;
  right: 5%;
  bottom: 3%;
}
.clickable:hover {
  cursor: pointer;
}
.clickable {
  color: RGB(37, 162, 183);
}
.footerText {
  background-color: RGB(27, 28, 29);
  color: white;
  font-weight: 100;
  padding-left: 5px;
  padding-right: 5px;
}
.modalImage {
  width: 400px;
  margin: auto;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}
.modalImageContainer {
  width: 400px;
  padding-top: 10px;
  margin: auto;
}
.projectCard {
  margin: 5px;
  margin-top: 20px;
}
.projectImage:hover {
  cursor: pointer;
}
.projectImage {
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  border-color: RGB(37, 162, 183);
}
.projectTitle {
  text-align: center;
  margin-top: 10px;
}
.splashColumn {
  background-color: RGB(27, 28, 29);
  color: white;
  border: none;
}
.splashHeadline {
  font-size: 4em;
  text-align: right;
  margin-right: 5px;
  border-bottom: solid;
  border-width: medium;
  border-color: RGB(37, 162, 183);
}
.splashIcon {
  margin-right: 5px;
  color: RGB(37, 162, 183);
}
.splashByline {
  text-align: right;
  margin-right: 5px;
  font-size: 1.5em;
}
.splashButton {
  width: 80%;
  height: 40%;
  margin-bottom: 5px;
  margin-left: 5px;
}
.splashButtonBox {
  position: absolute;
  top: 10%;
  height: 300px;
  width: 90%;
  margin: auto;
}
.splashTextBox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100px;
  left: 0;
  height: 100px;
  margin: auto;
}
.socialBar {
  text-align: right;
}
.techList {
  column-count: 2;
  list-style-position: inside;
}
.textBox {
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* based on code example from https://css-tricks.com/examples/hrs/ */

.currentProjectsLine {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    RGB(37, 162, 183),
    rgba(0, 0, 0, 0)
  );
}

.currentProjectsLine:after {
  content: "Currently Working On";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.25em;
  background: white;
}
.projectsLine {
  margin-bottom: 30px;
  text-align: center;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    RGB(37, 162, 183),
    rgba(0, 0, 0, 0)
  );
}

.projectsLine:after {
  content: "Projects";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.25em;
  background: white;
}
.bioLine {
  margin-bottom: 30px;
  text-align: center;
  border: 0;
  height: 2px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    RGB(37, 162, 183),
    rgba(0, 0, 0, 0)
  );
}

.bioLine:after {
  content: "About Me";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.25em;
  background: white;
}

@media screen and (max-width: 400px) {
  /* comes into effect for screens less than or equal to 400 pixels */
  .buttonUp {
    visibility: hidden;
  }
  .modalImage {
    width: 300px;
    margin: auto;
  }
  .modalImageContainer {
    width: 300px;
    padding-top: 10px;
    margin: auto;
  }
  .splashHeadline {
    font-size: 3em;
  }
  .splashButton {
    width: 100px;
    margin-bottom: 25px;
    margin-left: 20px;
  }
  .splashByline {
    font-size: 1em;
  }
  .socialBar {
    font-size: 0.8em;
  }
}
